<html>  
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
    <!-- <header class="w3-display-container w3-content w3-center" style="max-width:1500px"></header> 
    class="w3-image w3-margin-top" width="320" height="320"-->
    <center>
<img src={{img1}} width="720" height="720"> <br>
<img src={{img2}} width="720" height="720"> <br>
<img src={{img3}} width="720" height="720"> <br>
<img src={{img4}} width="720" height="720"> <br>
<img src={{img5}} width="720" height="720"> <br>
<img src={{img6}} width="720" height="720"> 
</center>
</body>
</html>