<html>  

    <header>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <div class="w3-bar w3-black w3-round w3-display-topmiddle w3-hide-medium">
            <center>
            <button id="myButton"  class="w3-bar-item w3-button ">Explore</button>
            <button id="myButton2"  class="w3-bar-item w3-button">Hubble</button>
            </center>
        </div>
    </header>

    <body>
        <center>
        <img src={{img1}} width="720" height="720"> <br>
        <img src={{img2}} width="720" height="720"> <br>
        <img src={{img3}} width="720" height="720"> <br>
        <img src={{img4}} width="720" height="720"> <br>
        <img src={{img5}} width="720" height="720"> <br>
        <img src={{img6}} width="720" height="720"> 
        </center>
    </body>

    <footer>
        <script>
          document.getElementById("myButton").onclick = function () {
          location.href = "/";
          };
        </script>
  
        <script>
          document.getElementById("myButton2").onclick = function () {
          location.href = "/hubble";
          };
        </script>
      </footer>
</html>